<% if logged_in? %>

  <%= render :file => '/big_purposes/index' %>

<% else %>
  <div class="jumbotron center">
    <h1 class='text-center'>ようこそ! グラフと自分を成長させよう!</h1>
    
      <div class="text-center">
          <%= image_tag 'graph.png', alt: "サイトの紹介画像", class:'img-fluid' %>
          <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary mt-4' %>
      </div>  
  </div>
  
<% end %>