<h1 class="text-center">使用方法</h1>
<div class="row">
  <div class="mt-4 mb-4">
      <div class="text-center">
        <h3>あなたの達成したい大目標を元にして、その大目標を達成するために必要な小目標を作成しよう!<br>
        そして小目標をコツコツ達成していき、大目標達成に近づいていこう!</h3>
      </div>
      
      <div class="text-center jumbotron">
        <div class="text-center">
          <h5>① 大目標を作成しよう!</h5>
          <%= image_tag 'big_purpose_ex.png', alt: "大目標一覧の例", class: 'border img-fluid' %>
          <figcaption>ログイン後、新規作成ボタンを押して将来的に叶えたい大目標を作成しよう!</figcaption>
        </div>
        
        <div class="text-center mt-4">
          <h5>② 小目標を作成しよう！</h5>
          <%= image_tag 'small_purposes_ex.png', alt: "小目標一覧の例", class: 'img-fluid border' %>
          <figcaption>大目標を作成したら詳細ボタンを押し、大目標を達成するために行うべき行動として小目標を細かく作成しよう！</figcaption>
        </div>
        
        <div class="text-center mt-4">
          <h5>③ 実行した値・成果を入力しよう!</h5>
            <%= image_tag 'time_growth_reports_ex.png', alt: "実行時間と成長度の例", class: 'img-fluid border' %>
            <figcaption>作成した小目標を実行していく過程で、小目標詳細画面で実行時間と成長度合いを入力していこう!</figcaption>
        </div>
      </div>
  </div>
</div>